<html>
    <head>
        <title>Sistema de Gerenciamento de Tarefas</title>
        <link rel="stylesheet" type="text/css" href="indexStyle.css">
    </head>
    <body>
        <div id="menu">
            <ul id="linksmenu">
                <li><a href="cadastro.html">Cadastro de Tarefas</a></li>
                <li><a href="pesquisa.html">Pesquisa de Tarefas</a></li>
            </ul>
        </div>

        <div>
            <h1 class="introducao">Bem Vindo <br> ao <br> Sistema de Gerenciamento de Tarefas</h1>
        </div>

        <section class="sobre" id="sobre">
            <div class="sobre-info">
                <h2>Sobre o Projeto</h2>
                <p>Esse é um projeto de gerenciamento de tarefas elaborado por José Dagmar Florentino da Silva Sobrinho.</p>
            </div>
        </section>

        <footer class="footer">
            <p>JDFSSProject © Todos os direitos reservados.</p>
        </footer>
    </body>
</html>